.instruktor{
    max-width: 80vw;
    max-height: 70vh;
    background-color: white;
    box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.1);
    margin: 5vh auto;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    overflow: hidden;
    background-color: rgb(155, 154, 154);
}

.instruktor__col:nth-of-type(2){
    position: relative;
    z-index: 2;
    padding-left: 100px;
}

.instruktor__col:nth-of-type(2)::before{
    content: '';
    position: absolute;
    left: -10px;
    top: -500px;
    width: 500%;
    height: 500%;
    background-color: white;
    border-left: 50px solid gray;
    /* background: linear-gradient(45deg, rgb(14, 179, 115),rgb(64, 187, 214), rgb(15, 124, 187)); */
    z-index: -1;
    transform: rotateZ(5deg);
}

.instruktor__col__image{
    max-width: 450px;
    max-height: 550px;
    object-fit: contain;
    border: 1px solid white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    margin: 20px 0px;
}

.instruktor__header__small{
    font-size: 14px;
    /* color: rgb(189, 252, 16); */
    color: rgb(167, 167, 167);
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    margin-top: 120px;
    font-weight: bold;
}

.instruktor__header__small::after{
    content: '';
    display: block;
    margin: 10px 0px;
    width: 50px;
    height: 1px;
    background-color: red;
}

.instruktor__header{
    font-family: 'Poppins', sans-serif; 
    /* color: rgb(189, 252, 16); */
    color: rgb(167, 167, 167);
    font-size: 24px;
}

.instruktor__description{
    max-width: 500px;
    color: rgb(90, 90, 90);
    font-family: 'Noto Sans', sans-serif;
}

.instruktor__vozilo{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    margin: 10px 0px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: rgb(90, 90, 90);
}

.instruktor__info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    color: rgb(90, 90, 90);
}


.instruktor__info__p{
    display: flex;
    align-items: center;
    gap: 3px;
}

.instruktor__icon{
    box-sizing: content-box;
    margin-right: 5px;
    padding-right: 10px;
    border-right: 1px solid rgb(90, 90, 90);
}

@media screen and (max-width: 950px) {
    .instruktor {
        max-height: unset;
        max-width: 90vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .instruktor__col{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .instruktor__col:nth-of-type(2){
        padding: 20px 10px;
    }

    .instruktor__col:nth-of-type(2)::before{
        left: -50%;
        top: 10px;
        width: 200%;
        height: 200%;
        border-top: 50px solid gray;
        /* background: linear-gradient(45deg, rgb(14, 179, 115),rgb(64, 187, 214), rgb(15, 124, 187)); */
        z-index: -1;
        transform: rotateZ(5deg);
    }

    .instruktor__col__image{
        max-width: 90%;
    }

    .instruktor__description{
        text-align: center;
    }
    
    .instruktor__header__small{
        margin-top: 100px;
    }

    .instruktor__header__small::after{
        margin: 10px auto;
    }
}