.navbar{
    width: 100%;
    height: 150px;
    background-color: white;
}

.first{
    height: 50px;
    background-color: black;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.first__section{
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100%;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.first__section__p{
    border-right: 1px solid gray;
    padding-right: 20px;
}

.first__section__col{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    gap: 10px;
}


.first__section__col:first-of-type{
    border-right: 1px solid gray;
}

.first__section__col__icon{
    color: rgb(236, 233, 14);
}


.first__section__soc__icon{
    cursor: pointer;
    margin: 0px 10px;
    transition: 0.5s;
}
.first__section__soc__icon:hover{
    color: rgb(184, 184, 184);
    transform: scale(1.5);
    
}

.second{
    position: relative;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second .meni{
    display: none;
    color: #F87D09;
}

.navbar__logo{
    max-width: 130px;
    max-height: 120px;
    object-fit: contain;
    flex: 1;
    /* border-radius: 10px 50%; */
    /* border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); */
}

.navbar__stavka__image{
    margin-right: 70px;
}

.navbar__stavka{
    position: relative;
    max-height: 100%;
    padding: 5px;
    cursor: pointer;
    color: rgb(32, 113, 206);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    transition: 0.5s;
    margin-left: 20px;
}

.navbar__stavka:hover{
    color: rgb(19, 77, 143);
}

.navbar__stavka::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: rgb(19, 77, 143);    

}

.navbar__stavka:hover::after{
    animation: stavka-animation;
    animation-fill-mode: both;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

/* ---- mob menu ----- */
.openedMenu *{
    transition: .5s;
}
.openedMenu .navbar__stavke{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(80, 80, 80, 0.9);
    font-size: 35px;
    text-align: center;
    z-index: 20000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.openedMenu .navbar__stavka{
    display: block;
    width: 100%;
    z-index: 300000;
    padding: 20px 5px;
    margin: 0px;
    font-size: 45px;
    text-transform: uppercase;
    color: white;
    font-family: 'Barlow', sans-serif;
}
.openedMenu .navbar__stavka:hover::after{
    animation: none;
}
.openedMenu .meni{
    z-index: 1000000;
    position: fixed !important;
    top: 5vh !important;
    left: calc(50% - 20px) !important;
    width: 50px !important;
    height: 50px !important;
    color: white;
}
/* .openedMenu .navbar__stavka:nth-of-type(1){
    top: 10vh;
}
.openedMenu .navbar__stavka:nth-of-type(2){
    top: 25vh;
}
.openedMenu .navbar__stavka:nth-of-type(3){
    top: 50vh;
}
.openedMenu .navbar__stavka:nth-of-type(4){
    top: 65vh;
}
.openedMenu .navbar__stavka:nth-of-type(5){
    top: 80vh;
} */
/* --------- */

@keyframes stavka-animation {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}


@media screen and (max-width: 700px) {
    .first{
        flex-direction: column-reverse;
    }

    .first__section__col__p{
        line-height: 13px;
        font-size: 0.7rem;
    }

    .second{
        justify-content: flex-start;
        padding: 5px;
    }

    .navbar__logo{
        max-width: 50px;
        max-height: 50px;
        margin-left: 50px;
    }

    .navbar__stavka{
        display: none;
    }

    .second .meni{
        display: block;
        position: absolute;
        right: 50px;
        top: calc(50% - 25px);
        width: 50px;
        height: 50px;
        background-size: contain;
        cursor: pointer;
    }

    .navbar__stavka__image{
        margin-right: 0px;
    }

  
}

@media screen and (max-width: 580px) {
    .first__section__col__p{
        font-size: .2cm;
    }
}

@media screen and (max-width: 440px) {
    .first__section__col{
        padding-right: 5px;
        flex: 1;
    }


}